@charset "UTF-8";
/* Body */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #FFFFFF;
	margin: 0;
}
/* Container */

.corp{
	background-image: url(../images/catalogo-4.jpg);
	background-repeat: no-repeat;
	background-position:left top;
	background-size:1900px;
	display: block;
}
.center {
	padding-top: 52px;
	padding-bottom: 20px;
}
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* MENU */
#select {
	display: none 
}
#menu ul {
	padding: 7px 5px;
	margin: 2px;
	float: left;
	height: 20px;
	width: 100%;
	background-color: #1D969C;
	text-align: center
}
#menu li{
	display:inline;
	font-weight:bolder;
}
#menu ul li{
	padding: 0px;
	margin: 0px;
	border:0px solid #c0c0c0;
}
#menu ul li a {
	font-weight: bold;
	color: #19F400;
	text-decoration: none;
	padding:6px 7px;
}
#menu ul li a:hover {
	background-color:#000000;
	color: #CF1518;
	border-bottom:6px solid #EA0000;
}
.logo {
	color: #12E19D;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 35px;
	margin-right: auto;
	text-align: center;
	padding-top: 1px;
	line-height: 35px;
	font-size:25px;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}
/* About Section */

.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;	
}
.thumbnail {
	width: 60%;
	height:600px;
	text-align: left;
	float: left;
	margin-top: 35px;
	background-color: #FFFFFF;
	padding-bottom: 20px;
	border-radius: 3px;
	padding-top: 20px;
	padding-left: 13px;
}
.thumbnail a {
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #D81518;
	text-align: left;
	padding-left: 5px;
	padding-right: 20px;
	
}
.gallery .thumbnail h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #D81518;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
}
.gallery .thumbnail h2 {
	color: #091A6B;
	text-align:center;
	background-color: #1D969C;
	max-width: 400px;
	max-height: 400px;
	float: right;
}
.none {
	display: none;
}
.sub {
	border:#FFFFFF solid;
}
.fieldset {
	padding-left: 90px;
	border:none;
}
form {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 540px;
	float:right;
	background: #1D969C;
	border: 12px #BD8221;
	border-radius:25px;
}
input{ 
	border-radius:49px;
	border: #12E19D outset;
	height:19px;
}
.copyright {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	clear:both;
	border-top-width: 2px;
}

/* CELULAR */
@media (max-width: 320px) {
.logo {
	width: 90%;
	text-align: center;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	letter-spacing:25px;
	padding-right: 50px;
}

#menu {
	display:none;
}
#select{
	display:block;
	padding: 8px 10px;
	position:relative;
	top:15px;
	color: #12E19D;
	background-color: #1D969C; 
	font-size:12px;
}
.thumbnail {
	padding-left:251px;
}
.thumbnail  h1 {
	display:none;	
}
.none {
	display:block;
	margin-top: 25px;
	margin-bottom: 2px;
	color: #D81518;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
}
.gallery {
	padding-left: 2px;
}
form {
	width: 400px;
	max-height: 540px;
	opacity: 0.9;
}
.fieldset {
	padding-left: 2px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}

.text_column {
	padding-left: 20px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width : 321px ) and (max-width : 768px ){
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;

	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#menu {
	display:none;
}
#select{
	display:block;
	padding: 8px 10px;
	position:relative;
	top:15px;
	color: #12E19D;
	background-color: #1D969C; 
	font-size:15px;
}
.gallery .thumbnail h2 {
	
}
.thumbnail {
	width:350px;
	padding-left:2px;
}
.gallery {
	padding-left: 2px;
	padding-right: 2px;
	margin-right:25px;
}
form {
	float:right;
	padding-left:2px;
	max-width: 6490px;
	max-height:570px;
}
.fieldset {
	padding-left:25px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	 
}

.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
}
/* Small Desktops */
@media (min-width : 768px) and (max-width : 1096px){
.text_column {
	width: 100%;
}
#menu {
	display:none;	
}
#select {
	display: block;
	padding: 8px 10px;
	position: relative;
	top:15px;
	color: #12E19D;
	background-color: #1D969C;
	font-size:17px;
}
form {
	float:right
}
.sub{
	padding-top:25px;
}
.thumbnail {
	width: 60%;
}
.gallery {
	padding-left: 2px;
	padding-right: 2px;
}
.gallery .thumbnail h2 {
	text-align: center;
	padding-left:25px;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}
