@charset "UTF-8";
/* Body */
body {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  background-color: #FFFFFF;
  margin: 0;
}
.corp{
  background-image: url(../images/catalogo-4.jpg);
  background-repeat: no-repeat;
  background-position:left top;
  background-size:1900px;
  display: block;
}
.center {
  padding-top: 70px;
}
/* Container */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}
/* MENU */
#select {
  display: none 
}
#menu ul {
  padding: 7px 5px;
  margin: 2px;
  float: left;
  height: 20px;
  width: 100%;
  background-color: #1D969C;
  text-align: center
}
#menu li{
  display:inline;
  font-weight:bolder;
}
#menu ul li{
  padding: 0px;
  margin: 0px;
  border:0px solid #c0c0c0;
}
#menu ul li a {
  font-weight: bold;
  color: #19F400;
  text-decoration: none;
  padding:6px 7px;
}
#menu ul li a:hover {
  background-color:#000000;
  color: #CF1518;
  border-bottom:6px solid #EA0000;
}
.logo {
  color: #12E19D;
  font-weight: bold;
  margin-left: auto;
  letter-spacing: 35px;
  margin-right: auto;
  text-align: center;
  padding-top: 1px;
  line-height: 35px;
  font-size:25px;
}
.hero_header {
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  letter-spacing: 4px;
}
/* About Section */

.gallery {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  padding-bottom: 13px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px; 
}
.thumbnail {
  height:600px;
  text-align: center;
  margin-top: 35px;
  background-color: #FFFFFF;
  padding-bottom: 20px;
  border-radius: 3px;
  padding-top: 20px;
  padding-left: 13px;
}

.none  {
  display: none;
}
footer {
  background-color: #B3B3B3;
  padding-top: 8px;
  padding-bottom: 8PX;
}
.hero_header {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 22px;
  text-align: center;
}
#button {
border: 3px solid #717070;
}
.button {
  width: 200px;
  margin-top: 4px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid #717070;
  color: #FFFFFF;
  transition: all 0.3s linear;
}
.button:hover {
  background-color: #18C7A9;
  color: #FFFFFF;
  cursor: pointer;
}
.copyright {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #717070;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  clear:both;
  border-top-width: 2px;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.col-md-3 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  width: 500px;
}

.profile-userpic img {
  float: left;
  margin: 0 auto;
  width: 150px;
  height: 20%;
  border-radius: 50% !important;
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons a {
  text-decoration: none;
  color: #000000;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.botao {
  width: 100px;
  margin-top: 4px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid #717070;
  transition: all 0.3s linear;
}
.botao-sair {
  width: 100px;
  margin-top: 8px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid #717070;
  transition: all 0.3s linear;
}
.botao:hover {
	background-color: #1AB8D1;
	color: #FFFFFF;
	cursor: pointer;
}
.botao-sair:hover {
	background-color: #1AB8D1;
	color: #FFFFFF;
	cursor: pointer;
}
/* CELULAR */
@media (max-width: 320px) {
.corp {
    background-size: 1500px;
}
.center img {
  width: 300px;
  height: 150px;
  padding-bottom: 0px;
  }
#menu {
  display:none;
}
#select{
  display:block;
  padding: 8px 10px;
  position:relative;
  top:15px;
  color: #12E19D;
  background-color: #1D969C; 
  font-size:12px;
}
.thumbnail {
  width: 100%;
  height: 300px;
  margin-right: 11px;
  padding-left:4px  
}
.gallery {
  padding-left: 2px;
}
.gallery .thumbnail h4 {
  font-size: 15px;
  text-align: center;
}
.gallery .thumbnail .tag {
  margin-right: 20px;
  padding-right: 9px;
  padding-left: 10px
}
.cards {
  max-width: 300px;
  max-height: 200px;
  opacity: 0.9;
}
.text_column {
  width: 100%;
  text-align: justify;
  padding: 0;
}
.intro .column p {
  width: 80%;
  margin-left: 0px;
}
.text_column {
  padding-left: 20px;
}
.thumbnail {
  width: 100%;
}
.column {
  width: 100%;
  margin-top: 0px;
}
.hero_header {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 22px;
  text-align: center;
}
}

/* Small Tablets */
@media (min-width : 321px ) and (max-width : 403px ){
.logo {
  width: 100%;
  text-align: center;
  margin-top: 13px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.corp {
    background-size: 1700px;
  }
.center img {
  width: 300px;
  height: 150px;
  padding-bottom: 25px;
  }
#menu {
  display:none;
}
#select{
  display:block;
  padding: 8px 10px;
  position:relative;
  top:15px;
  color: #12E19D;
  background-color: #1D969C; 
  font-size:15px;
}
.thumbnail {
  width: 100%;
  height: 320px;
  margin-right: 11px;
  padding-left:2px  
}
.gallery .thumbnail h4 {
  font-size: 15px;
  text-align: center;
}
.tag{
  text-align: left;
  width: 90%;
  }
.gallery {
  padding-left: 2px;
}
.gallery .thumbnail .tag {
  padding-right: 2px;
  margin-right: 11px;
}
.text_column {
  width: 100%;
  text-align: left;
  padding: 0;
}
.thumbnail {
  width: 100%;
}
.column {
  width: 100%;
  margin-top: 0px;
}
.thumbnail {
  width: 100%;
}
.text_column {
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  
}
.column {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.profile {
  width: 100%;
}
.intro .column p {
  width: 90%;
  text-align: center;
  padding-left: 0px;
}
}
@media (min-width : 404px ) and (max-width : 512px ){
.logo {
  width: 100%;
  text-align: center;
  margin-top: 13px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.corp {
    background-size: 1700px;
  }
.center img {
  width: 300px;
  height: 150px;
  padding-bottom: 25px;
  }
#menu {
  display:none;
}
#select{
  display:block;
  padding: 8px 10px;
  position:relative;
  top:15px;
  color: #12E19D;
  background-color: #1D969C; 
  font-size:15px;
}
.thumbnail {
  width: 100%;
  margin-right: 11px;
  padding-left:2px  
}
.gallery .thumbnail h4 {
  font-size: 19px;
  text-align: center;
}
.tag{
  text-align: left;
  width: 90%;
  }
.gallery {
  padding-left: 2px;
}
.gallery .thumbnail .tag {
  padding-right: 2px;
  margin-right: 11px;
}
.text_column {
  width: 100%;
  text-align: left;
  padding: 0;
}
.thumbnail {
  width: 100%;
}
.column {
  width: 100%;
  margin-top: 0px;
}
.thumbnail {
  width: 100%;
}
.text_column {
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  
}
.column {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.profile {
  width: 100%;
}
.intro .column p {
  width: 90%;
  text-align: center;
  padding-left: 0px;
}
}
@media (min-width : 513px ) and (max-width : 768px ){
.logo {
  width: 100%;
  text-align: center;
  margin-top: 13px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#menu {
  display:none;
}
#select{
  display:block;
  padding: 8px 10px;
  position:relative;
  top:15px;
  color: #12E19D;
  background-color: #1D969C; 
  font-size:15px;
}
.thumbnail {
  width: 100%;
  margin-right: 11px;
  padding-left:2px  
}
.gallery {
  padding-left: 2px;
}
.gallery .thumbnail .tag {
  padding-right: 2px;
  margin-right: 11px;
}
.text_column {
  width: 100%;
  text-align: left;
  padding: 0;
}
.thumbnail {
  width: 100%;
}
.column {
  width: 100%;
  margin-top: 0px;
}
.thumbnail {
  width: 100%;
}
.text_column {
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  
}
.column {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.profile {
  width: 100%;
}
.intro .column p {
  width: 90%;
  text-align: center;
  padding-left: 0px;
}
}
/* Small Desktops */
@media (min-width : 768px) and (max-width : 1096px){
.text_column {
  width: 100%;
}
#menu {
  display:none; 
}
#select {
  display: block;
  padding: 8px 10px;
  position: relative;
  top:15px;
  color: #12E19D;
  background-color: #1D969C;
  font-size:17px;
}
.thumbnail {
  width: 48%;
}
.gallery {
  padding-left: 2px;
  padding-right: 2px;
}
.gallery .thumbnail .tag {
  margin-right: 52px;
}
.text_column {
  width: 90%;
  margin: 0;
  padding: 20px;
}
.intro .column p {
  width: 80%;
}
}
