@charset "UTF-8";
body {
	background-color: #000000;
}
.inicio {
	padding-right: 2px;
}
.galeria {
	background-color: #848484;
	border: solid 1px red;
	width: 300px;
	height: 400px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}
.galeria h3 {
	text-align: center;
	position: relative;
}
.galeria h3 a{
	text-decoration: none;
}
.galeria p {
	text-align: justify;
	position: relative;
	color: #FFFFFF;
}
.cards{
	position: absolute;
	width: 300px;
	height: 400px;
	padding-right: 0px;
	padding-left: 0px;
}